{% extends 'estrutura/base.html' %}

{% load static %}

<!-- Inicia um bloco para a incerção de conteudos. -->
{% block content %}
    <div class="row text-center" >
        <div class="col-xl-12 col-md-12 col-sm-12">
          <img src="{% static 'img/concursosPublicos.png' %}" alt="imagemPrincipal" class="folderPrincipal col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
        </div>
    </div>
    <h4 class="mt-4 text-center">Saiba um pouco mais sobre as bancas organizadoras clicando nos botões saiba mais.</h3>
    <div class="container p-3 align-items-end" id="custom-cards">
        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 p-">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 p-3">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark shadow-lg">
              <div class="d-flex flex-column h-100 p-3 pb-2 text-white text-shadow-1">
                <img src="{% static 'img/logoCespe.png' %}" class="align-items-center" >
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-1">
                    <a href="https://www.cebraspe.org.br/sobre-nos/"><button type="button" class="btn btn-primary mt-3"><small>Saiba Mais</small></button></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12  p-3">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark shadow-lg">
              <div class="d-flex flex-column h-100 p-3 pb-2 text-white text-shadow-1">
                <img src="{% static 'img/logoFgv.png' %}" class="align-items-center">
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-1">
                    <a href="https://portal.fgv.br/institucional"><button type="button" class="btn btn-primary mt-3"><small>Saiba Mais</small></button></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 p-3">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark shadow-lg">
              <div class="d-flex flex-column h-100 p-3 pb-2 text-white text-shadow-1">
                <img src="{% static 'img/logoFuvest.png' %}" class="align-items-center" >
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-1">
                    <a href="https://www.fuvest.br/sobre/"><button type="button" class="btn btn-primary mt-3"><small>Saiba Mais</small></button></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 p-3">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark shadow-lg">
              <div class="d-flex flex-column h-100 p-3 pb-2 text-white text-shadow-1">
                <img src="{% static 'img/logoCiee.png' %}" class="fontes align-items-center">
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-1">
                    <a href="https://portal.ciee.org.br/institucional/o-que-e-o-ciee/"><button type="button" class="btn btn-primary mt-3"><small>Saiba Mais</small></button></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock%}