{% extends 'estrutura/base.html' %}

{% load static %}

{% block content %}

<div class="row justify-content-center align-items-center vhtamanho">
  <div class=" col col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-5">
    <H2>Sobre nosso site</H2>
    <hr>
    <p>Nosso site tem como objetivo facilitar o acesso a materiais de estudo focado na preparação para concursos publicos e outros processos seletivos.</p>
    <p>Oferencemos conteudos de confiança e seguros, pois os mesmos são extraidos das principais bancas examindadoras atuantes no Brasil, possuimos um grande acervo de materiais de alta qualidade e sempre atualizados.</p>
    <p>Somos uma organização nova e estamos em desenvolvimento, adicionamos conteudos semanalmente, para solicitar um conteudo ou material de sua preferencia, entre em contato clicando <a href="http://127.0.0.1:8000/contato/">aqui</a>. </p>

    <hr>
  </div>
</div>

{% endblock%}