{% extends 'estrutura/base.html' %}

{% load static %}

<!-- Inicia um bloco para a incerção de conteudos. -->
{% block content %}

<input type="checkbox" id="check">
<label for="check">
  <i class="bi bi-box-arrow-right" id="bnt"></i>
  <i class="bi bi-box-arrow-left" id="cancel"></i>
</label>
<div class="sidebar">
  <header style="padding-right: 20px;">Provas por ano</header>
  <ul style="padding-left: 0px;">
    <li><a href="https://www.pciconcursos.com.br/provas/fgv-2019/"
      target="iframContent"><i class="bi bi-book"></i>2019</a></li>
    <li><a href="https://www.pciconcursos.com.br/provas/fgv-2020/" target="iframContent"><i class="bi bi-book"></i>2020</a></li>
  </ul>
</div>
</div>
<iframe width="100%" height="100%" name="iframContent" src="">
</iframe>
{% endblock%}